/* New theme style */

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");

/*  UIKIT CLASSES */
@media (min-width: 960px) {
  .widget.w-language ul {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 640px) {
  .widget.w-language ul {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.widget.w-language ul {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* END UIKIT CLASSES */

ul {
  padding-left: 18px;
}

.principal-hero,
section#lifespeak {
  width: 100%;
  height: 400px;
  background-image: url(assets/images/principal-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.principal-hero.ltw {
  background-image: url(assets/images/ltw_unnel.jpg);
}

.principal-hero .call-to-action-buttons {
  position: relative;
  top: 362px;
  background: white;
  height: 63px;
}

.principal-hero .call-to-action-buttons .uk-grid {
  height: 100%;
}

.principal-hero .call-to-action-buttons .hero-section {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.18);
  padding: 28px 25px;
}

body #page-content .principal-hero a.link-to-section:hover {
  top: -2px;
  position: relative;
  background-color: white !important;
}

body #page-content .principal-hero .hero-section .title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #246eb0 !important;
}

body #page-content .principal-hero .hero-section .subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a !important;
}

h1.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #246eb0 !important;
  background-color: transparent !important;
}

h2.subtitle,
ul.accordion a.uk-accordion-title {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #246eb0 !important;
  margin-top: 17px;
  margin-bottom: 0;
  background: transparent !important;
}

h2.title {
  font-size: 26px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  margin-top: 5px;
  letter-spacing: normal;
  color: #246eb0 !important;
  background-color: transparent !important;
}

h4.subtitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #37a6dc !important;
  padding: 0;
  background-color: transparent !important;
}

body p.content {
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484d55;
  margin-top: 6px;
}

body p.content-large {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

section#employee-program {
  margin-top: 176px;
}

.item-list {
  color: #484d55;
}

.card {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.18),
    3px 3px 13px 0 rgba(0, 0, 0, 0.08);
  background-color: #f6f6f6;
  padding: 24px 16px;
}

.card p.content,
.card .item-list {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484d55;
}

.card .item-list {
  column-count: 2;
}

section#best-doctors,
section#financial {
  background: #f9f9fb;
}

section {
  padding-bottom: 56px;
}

.section-padding-top {
  padding-top: 40px;
}

span.email {
  color: #246eb0;
  font-weight: bold !important;
}

button.general-button,
button.minimal-button,
a.general-button,
a.minimal-button {
  border-radius: 4px;
  padding: 21px 32px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: capitalize;
}

button.minimal-button,
a.minimal-button {
  padding: 10px 15px;
  font-size: 15px;
}

body button.minimal-button a:hover,
body a.minimal-button:hover {
  color: #fff;
}

button.dark-blue,
a.dark-blue {
  background-color: #246eb0;
}

button.dark-blue:hover,
body.page-master a.dark-blue:hover {
  background-color: #1c4f7d !important;
}

button.light-blue:hover,
body.page-master a.light-blue:hover {
  background-color: #127fb4 !important;
}

button.light-blue,
a.light-blue {
  background-color: #37a6dc;
}

button.white,
a.white {
  background-color: #fff;
  color: #246eb0;
}

button.white:hover,
a.white:hover {
  background-color: #00a6dc !important;
  color: white !important;
  text-decoration: none !important;
}

section#documentation h1.title {
  margin-top: 5px;
}

/* 
  Button config merge specifically  for 
  login/register widgets 
*/
div.widget.initialized.w-login,
div.widget.RegisterButton.initialized.w-register {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #246eb0;
  height: unset;
  width: unset;
}

div.widget.initialized.w-login:hover,
div.widget.RegisterButton.initialized.w-register:hover {
  background-color: #127fb4 !important;
}

#approach .uk-margin-auto {
  width: 578px;
}

.big-number {
  font-size: 80px;
  font-weight: 900;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #246eb0;
}

section#faq {
  margin-top: 26px;
}

section ul.accordion li.accordion-item {
  padding-bottom: 7px;
  border-bottom: solid 2px #9b9b9b;
  position: relative;
}

section ul.accordion li.accordion-item div.bullet-point {
  width: 7px;
  height: 7px;
  background: #246eb0;
  border-radius: 3px;
  position: absolute;
  margin-top: 14px;
}

section ul.accordion li.accordion-item a.uk-accordion-title,
section ul.accordion li.accordion-item div.uk-accordion-content {
  position: relative;
  left: 24px;
}

section ul.accordion li.accordion-item a.uk-accordion-title::before {
  position: relative;
  left: -22px;
}

section ul.accordion li.accordion-item div.uk-accordion-content {
  margin-top: 8px !important;
}

section ul.accordion li.accordion-item div.uk-accordion-content p.content {
  width: calc(100% - 24px);
}

.uk-accordion-title::before {
  content: "+";
  float: right;
  background-image: unset;
  background-repeat: unset;
  background-position: unset;
  width: 20px;
  height: 43px;
  font-family: "Nunito Sans";
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.uk-open>.uk-accordion-title::before {
  background-image: unset;
  content: "-";
  width: 15px;
  height: 43px;
  font-family: "Nunito Sans";
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

section ul.accordion li.accordion-item.uk-open {
  padding-bottom: 52px;
}

.indented {
  margin-left: 25px;
}

h2.text-on-image {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #4a4a4a !important;
  background: transparent !important;
  background-color: transparent !important;
}

section#lifespeak {
  margin-top: unset;
  background-image: url(assets/images/family-beach.jpg);
  height: 382px;
  background-position: top;
}

section#cards-container {
  margin-top: 86px;
}

section#cards-container .uk-grid {
  margin-top: 39px;
}

section#cards-container .uk-grid .uk-card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.18);
  margin-bottom: 35px;
}

section#cards-container .uk-grid .uk-card-body {
  padding: 21px 24px;
}

section#cards-container .uk-grid .uk-card-title {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a !important;
}

section#cderp .item-list {
  margin-top: 6px;
}

.uk-accordion .item-list {
  list-style: initial !important;
}

.triple-column {
  column-count: 3;
}

.magazine .uk-card.uk-card-default {
  min-height: 520px;
}

.magazine h2.uk-card-title {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom: 10px;
}

body.page-master .magazine p.description {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484d55 !important;
  margin-top: 5px;
  margin-bottom: 20px;
}

body.page-master .uk-card.uk-card-default h4.date {
  position: absolute;
  padding: 5px 22px;
  position: absolute;
  margin-top: -26px !important;
  background-color: #22af60;

  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff !important;
}

section#not-myself a:hover {
  background-color: transparent !important;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: unset !important;
}

.code-box {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.code-box pre {
  margin-bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code-box .rendered-code {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.code-line {
  text-decoration: underline;
  background-color: #f7fafc;
  color: #37a6dc;
}

section#documentation section#cards-container,
section#documentation section#cards-container .uk-grid {
  margin-top: 0;
}

section#documentation section#cards-container {
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .principal-hero .call-to-action-buttons .uk-grid .hero-section {
    width: 138px;
    padding: 20px 0 0 26px;
    height: 70px;
    box-shadow: unset;
  }

  .principal-hero .call-to-action-buttons .uk-grid .hero-section .title {
    width: 138px;
  }

  section#cards-container {
    margin-top: 50px;
  }

  section#cards-container .uk-grid {
    margin-top: 25px;
  }

  section#best-doctors button.minimal-button.dark-blue {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 959px) {

  button.general-button,
  a.general-button {
    font-size: 12px;
    padding: 16px 9px;
    margin-right: 6px !important;
  }

  .card .item-list {
    column-count: 1;
  }

  .big-number {
    font-size: 40px;
  }

  body p.content {
    font-size: 12px !important;
  }

  .indented {
    margin-left: 0;
  }

  .uk-invisible {
    display: none;
  }

  section#lifespeak {
    height: auto;
  }

  section ul.accordion li.accordion-item a.uk-accordion-title,
  section ul.accordion li.accordion-item div.uk-accordion-content {
    left: 14px;
  }

  .principal-hero {
    height: 167px;
    margin-top: 2px;
  }

  .principal-hero .call-to-action-buttons {
    top: 167px;
    height: auto;
  }

  .principal-hero .call-to-action-buttons .uk-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 75px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.18);
    /* IE 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .principal-hero .call-to-action-buttons .uk-grid::-webkit-scrollbar {
    display: none;
  }

  body #page-content .principal-hero .hero-section .title {
    font-size: 10px;
  }

  body #page-content .principal-hero .hero-section .subtitle {
    font-size: 12px;
  }

  section#employee-program {
    margin-top: 110px;
  }

  h1.title {
    font-size: 20px !important;
  }

  h2.subtitle,
  ul.accordion a.uk-accordion-title {
    font-size: 14px;
  }

  .card {
    margin-top: 15px;
  }

  .section-padding-top {
    padding-top: 25px;
  }

  section#best-doctors h1.title {
    margin-top: 24px;
  }

  section.full-image {
    padding-bottom: 24px;
  }

  section#approach * :not(.big-number) {
    text-align: left !important;
  }

  section#approach .stats p.content {
    text-align: center !important;
  }

  section h4.subtitle {
    font-size: 10px;
  }

  section h2.title {
    font-size: 18px;
    margin-top: 5px;
  }

  section p.content-large {
    font-size: 12px;
    margin-top: 0;
  }

  section .mobile-margin-top {
    margin-top: 5px !important;
  }

  section ul.item-list,
  section ol.item-list {
    font-size: 12px !important;
  }

  section#faq {
    margin-top: -8px;
  }

  section ul.accordion {
    margin-top: 0 !important;
  }

  section ul.accordion .uk-accordion-content {
    width: calc(100% - 22px);
  }

  section ul.accordion li.accordion-item {
    margin-top: -10px;
  }

  section ul.accordion li.accordion-item.uk-open {
    padding-bottom: 18px;
  }

  section ul.accordion li.accordion-item div.bullet-point {
    margin-top: 8px;
  }

  section {
    padding-bottom: 38px;
  }

  section#lifespeak-library.section-padding-top {
    padding-top: 5px;
  }

  section#lifespeak-library p.content {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .card .item-list {
    column-count: 2;
  }

  section#approach .uk-margin-auto {
    margin: 0 !important;
  }

  .text-on-image {
    text-shadow: 1px 1px #aba8a8;
  }
}